{% extends "layouts/default.html" %}
{% block title %}Cheese by JG{% endblock %}
{% block content %}
<div class="absolute">
  <img loading="lazy" src="/images/Beaufort.png" width="180" height="180" class="" alt="" />
  <!-- <img loading="lazy" src="/images/Chaource.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/Cream Cheese.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/Taleggio.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/abondance.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/babybel.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/barbirousse.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/bleu d'auvergne.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/boursin.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/brie de meaux.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/cabecou.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/camembert.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/cantal.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/caprice des dieux.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/chabichou.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/cheese curds.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/chèvre cendré.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/crottin de chavignol.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/dubliner.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/époisses.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/feta.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/fondue.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/fontina.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/fried queso.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/fromager d'affinois.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/gorgonzola dolce.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/gouda.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/kraft singles.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/le coeur de bray.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/manchego.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/maroilles.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/mimolette.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/mont d'or.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/mozzarella.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/ossau iraty.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/p'tit basque.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/paneer.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/parmesan.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/pepper jack.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/port salut.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/pouligny st. pierre.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/raclette.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/reblochon.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/red leiceister.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/requeijao.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/rocamadour.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/roquefort.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/saint albray.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/seaside cheddar.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/selles sur cher.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/st. andré.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/st. félicien.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/st. nectaire.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/ste maure de touraine.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/stilton.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/stracchino.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/string cheese.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/tome de savoie.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/truffle brie.png" class="" alt="" /> -->
  <!-- <img loading="lazy" src="/images/vache qui rit.png" class="" alt="" /> -->
</div> 


<div class="flex h-screen bg-white" id="main">
  <!-- Text block -->
  <div class="max-w-sm m-auto text-black text-center space-y-2">
    <div class="leading-[5em]">
      <h1 class="text-[120px]">Cheese!</h1>
      <p class="text-[50px]">
	by
	<a class="hover:underline" href="http://jgdebray.com">
	  JG Debray
	</a>
      </p>
    </div> 
    <div class="leading-8 text-[30px]">
      <h2 class="">iMessage stickers and more</h2>
      <h2 class="">coming soon!</h2>
    </div> 
  </div>
</div>
{% endblock %}
